/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}
table {
  width: 100%;
}
nav a.active{
    color: #039be5;
}
.material-icons{
margin-right:10px; 
}

.my-text{
font-size: 13px !important;
}
tr.mat-header-row{
  background:rgba(2,76,69,0.1) !important;
  font-weight: bold;
  text-align: center;
}
th .mat-header-cell{
  color: #253949;
}
.mat-header-cell{
  padding: 10px;
}
.mat-cell{
  font-size: 12px;
  padding: 4px;
  text-align: left;
}
.mat-dialog-container{
  padding: 5px !important;
  background: #CCC;
}
mat-button-toggle {
  font-weight: bold;
  background: #fff !important;
}
mat-button-toggle .icon-coloradd{
  color:#3f51b5;
}
h1 {
    margin-top: -5px;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.2);
  text-anchor: unset;
  }
.opciones{
  float: right;
  margin: auto;
  text-align: right;
}
.buscar{
  display: block !important;
}
.titulo{
  color:#25394a!important;
  font-size: 2em;
}
.mat-elevation-z8{
  box-shadow: 1px solid #ddd !important;
}