<!--<div class="row">
<div class="col-sm-3">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-primary">
               {{totalPendiente}} 
            </div>
            <p class="card-category">Total</p>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-success">
               {{totalPendiente}} 
            </div>
            <p class="card-category">Exitosos</p>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-danger">
               {{totalPendiente}} 
            </div>
            <p class="card-category">Sin Sap</p>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon bg-warning">
                {{totalPendiente}} 
            </div>
            <p class="card-category">Pendientes</p>
        </div>
    </div>
</div>
</div>-->
<div style="display: block">
<canvas baseChart
    [datasets]="barChartData"
    [labels]="labelUsers"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
</canvas>
</div>