.card-header{
    background: #eeeeee;
}
.card-body{
    background: #eee;
}
#my{
    margin: auto;
    display: table;
}

.jexcel>thead>tr>td {
    font-size: 13px;
    text-align: left;
}

.jexcel>tbody>tr>td {
    padding: 3px;
    font-size: 13px;
    text-align: left;
}

.detail tr td {
    color: #444444 !important;
    border-color: #cbdae6 !important;
    background-color: #fff !important;
}
.jexcel>tbody>tr>td.readonly {
    color: rgba(50, 150, 100, 0.8);
}
