
<mat-tab-group>
    <mat-tab label="Doctores"> 
      <br>
      <button mat-raised-button color="primary" (click)="openDialog()"><i class="material-icons">add_circle</i> Nuevo</button>
        <mat-form-field  class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Doctor">
        </mat-form-field>
      <app-actividad-doctores></app-actividad-doctores>
    </mat-tab>
    <mat-tab label="Especialidades"> 
      <br>
      <button mat-raised-button color="primary" (click)="openDialog2()"><i class="material-icons">add_circle</i> Nuevo</button>
      <mat-form-field  class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Especialidad">
        </mat-form-field>
      <app-actividad-especialidad></app-actividad-especialidad> 
    </mat-tab>
  </mat-tab-group>
