<div class="container-fluid">
<div class="cabecera">
<div class="row">
    <div class="col-sm-4">
        <h3 class="titulo">{{title}}</h3>
    </div>
    <div class="col-sm-4">
        <div class="contadorCuerpo">
        <span> Total: </span>
        <span class="contador">{{contador}}</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="opciones">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle routerLink="/pedidos" routerLinkActive="active" value="bold"><mat-icon color="default">menu</mat-icon> Lista</mat-button-toggle>
        <mat-button-toggle routerLink="/pedidos/Dashboard" routerLinkActive="active" value="italic"><mat-icon color="default">bar_chart</mat-icon> Dashboard</mat-button-toggle>
        <mat-button-toggle routerLink="/inicio" routerLinkActive="active" value="underline"><mat-icon color="default">home</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
        </div>
    </div>
</div>
</div>

    <!--buscador-->
<div class="row">
    <div class="col-sm-2">
        <mat-form-field>
            <mat-label>Seleccione División</mat-label>
            <mat-select [(value)]="selected" >
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="getDiv(food.viewValue)">
                {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-10">
        <mat-form-field  class="example-full-width buscar" >
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Buscar">
        </mat-form-field>
    </div>
</div>

    <!--tabla-->
<table mdbTable class=" z-depth-1 table table-striped table-bordered table-sm">
    <thead>
        <th>#</th>
        <th class="th-sm">CodUsuario</th>
        <th>RazonSocial</th>        
        <th>NroPedido</th>
        <th>NroSAP</th>
        <th>Error</th>
        <th>Pendiente</th>
        <th>Fecha</th>
        <th>Moneda</th>
        <th>MontoTotal</th>
        <th>ComentarioCompPago</th>
        <th>PedidoID</th>
        
        <th>Acciones</th>        
    </thead>
    <tbody>
        <tr *ngFor="let elemento of listaPedido;let i = index" >
            <td>{{i + 1}}</td>
            <td>{{elemento.CodUsuario}}</td>
            <td>{{elemento.RazonSocial}}</td>            
            <td>{{elemento.NroPedido}}</td>

            <td>
                <span *ngIf="elemento.NroSAP == ''" class="text-danger">{{elemento.NroSAP}}</span>
                <span *ngIf="elemento.NroSAP != ''" class="text-success">{{elemento.NroSAP}}</span>
            </td>
            <td>{{elemento.Error}}</td>
            <td>{{elemento.Pendiente}}</td>
            <td>{{elemento.Fecha}}</td>
            <td>{{elemento.Moneda}}</td>
            <td>{{elemento.MontoTotal}}</td>
            <td colspan="1">{{elemento.ComentarioCompPago}}</td>
            <td>{{elemento.PedidoID}}</td>
            
            <td>
                <button  (click)="openDialogView(elemento.PedidoID)" mat-icon-button><mat-icon color="accent">launch</mat-icon></button>
                <button  (click)="openDialogUpdate(elemento.PedidoID)" mat-icon-button><mat-icon color="primary">edit</mat-icon></button>
                <!--<button (click)="onDelete(element.id)" mat-icon-button><mat-icon color="warn" >delete_forever</mat-icon></button>-->
            </td>
        </tr>
    </tbody>
</table>

</div>