<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><h1 class="titulo">HANSA HBM</h1></mat-toolbar>
    <br><br>
    <mat-toolbar-row class="my-row-sidebar">
      <span class="rol-user">NODOS HBM FIREBASE</span>
    </mat-toolbar-row>
    <mat-nav-list>
      <a routerLink="/inicio" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="default">home</mat-icon>INICIO</a>
      <a routerLink="/actividad" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="default">person_pin</mat-icon>ACTIVIDAD</a>
      <a routerLink="/pedidos/Dashboard" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="default">local_grocery_store</mat-icon>PEDIDOS</a>
      <a routerLink="/cobranzas" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="default">attach_money</mat-icon>COBRANZAS</a>
    </mat-nav-list>
    <mat-toolbar-row class="my-row-sidebar">
      <span class="rol-user">CONFIGURACIONES</span>
    </mat-toolbar-row>
    <mat-nav-list>
      <a routerLink="/usuarios" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="default">attach_file</mat-icon>USUARIOS</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon" >menu</mat-icon>
      </button>
      <span>Monitoreo HBM</span>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
