<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><h1 class="titulo">HANSA FIREBASE</h1></mat-toolbar>
    <br><br>
    <mat-nav-list>
      <a routerLink="/pedidos" routerLinkActive="active" mat-list-item class="my-text">PEDIDOS</a>
      <a routerLink="/cobranzas" routerLinkActive="active" mat-list-item class="my-text">COBRANZAS</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Monitoreo HBM</span>
      <span>HBM</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
