.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background:rgba(2,76,69,0.06) !important;
}

.sidenav .mat-toolbar {
  background:rgba(2,76,69,0.7) !important;
  color:#FFF;
  background: inherit;
  text-shadow: 10px 7px 6px rgba(0,0,0,0.6);
  text-anchor: unset;
  font-size: 24px;
}

.my-row-sidebar{
  background:rgba(2,76,69,0.7) !important;
  color:#FFF;
  }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgb(2,76,69) !important;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
