/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
nav a.active{
    color: #039be5;
}
.material-icons{
margin-right:10px; 
}

.my-text{
font-size: 13px !important;
}
tr.mat-header-row{
  background:rgba(2,76,69,0.04) !important;
  font-weight: bold;
}
.mat-dialog-container {
  background:rgba(255,255,255,0.25) !important;
}
mat-button-toggle {
  font-weight: bold;
}
h1 {
    margin-top: -5px;
    text-shadow: 9px 7px 6px rgba(0,0,0,0.2);
  text-anchor: unset;
  }
.content-title{

}
.titulo{
  float: left;
  margin: auto;
  width: 50%;
  text-align: left;
}
.opciones{
  float: right;
  margin: auto;
  width: 50%;
  text-align: right;
}