<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
<mat-sidenav-container class="sidenav-container" >  
  <mat-sidenav-content class="fondo-nav">      
    <mat-toolbar *ngIf="islogged" color="primary" >
      <!--<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>-->
      <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      <span class="example-fill-remaining-space"></span>
      <span>
        <mat-menu #appMenu="matMenu">
          <button routerLink="/user/perfil" mat-menu-item><mat-icon>info</mat-icon>  Perfil</button>
          <button mat-menu-item (click)="onLogout()"><mat-icon>power_settings_new</mat-icon>  Salir</button>
          <span><a routerLink="/" mat-list-item class="my-text"><mat-icon color="default">home</mat-icon></a></span>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>person</mat-icon>  Usuario </button>
      </span>
    </mat-toolbar>
    <mat-sidenav  #drawer class="sidenav" fixedInViewport="flase"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" >
      <mat-toolbar><mat-icon color="accent">local_hospital</mat-icon>  {{app_name}}</mat-toolbar><br>
      <span> <img src="../../../../assets/avatar.png" class="rounded-circle img-nav" alt="perfil" ></span>
      <mat-toolbar-row class="my-row-sidebar">
          <span class="rol-user">Bienvenido <b>{{user.name}} </b></span>
      </mat-toolbar-row>
      <mat-nav-list>
        <span><a routerLink="/" mat-list-item class="my-text"><mat-icon color="primary">home</mat-icon> Incio</a></span>
        <span><a routerLink="/pacientes" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="primary">person_outline</mat-icon> Pacientes</a></span>
        <span><a routerLink="/doctores" mat-list-item class="my-text"><mat-icon color="primary">assignment_ind</mat-icon>
            Medicos</a></span>
        <span><a routerLink="/citas" mat-list-item class="my-text"><mat-icon color="primary">assignment</mat-icon> <span matBadge="4" matBadgeOverlap="false"> Cita Medica </span> </a>
        </span>
        <span><a mat-list-item class="my-text"><mat-icon color="primary">attach_file</mat-icon> Reportes</a></span>
      </mat-nav-list>
      <mat-toolbar-row class="my-row-sidebar">
        <span><mat-icon color="accent">settings</mat-icon>Configuraciones</span>
      </mat-toolbar-row>
      <mat-nav-list>
        <a routerLink="user" mat-list-item class="my-text"><mat-icon color="primary">people</mat-icon>  Usuarios</a>
        <a mat-list-item class="my-text" (click)="onLogout()"><mat-icon color="primary">power_settings_new</mat-icon>  Salir</a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Add Content Here -->
    <br>
    <div class="container-fluid contenido">
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando...</p>
      </ngx-spinner>
      <router-outlet></router-outlet>
    </div>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>