<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar><mat-icon color="accent">local_hospital</mat-icon>  {{app_name}}</mat-toolbar>
    <mat-toolbar-row class="my-row-sidebar">
        <span>Avatar nombre Usuario</span>
    </mat-toolbar-row>
    <mat-nav-list>
      <span><a routerLink="/inicio" mat-list-item class="my-text"><mat-icon color="primary">home</mat-icon> Incio</a></span>
      <span><a routerLink="/pacientes" routerLinkActive="active" mat-list-item class="my-text"><mat-icon color="primary">person_outline</mat-icon> Pacientes</a></span>
      <span><a routerLink="/actividad" mat-list-item class="my-text"><mat-icon color="primary">assignment_ind</mat-icon>
          Actividad</a></span>
      <span><a routerLink="/reserva" mat-list-item class="my-text"><mat-icon color="primary">assignment</mat-icon> Reservas</a>
      </span>
      <span><a mat-list-item class="my-text"><mat-icon color="primary">attach_file</mat-icon> Reportes</a></span>
    </mat-nav-list>
    <mat-toolbar-row class="my-row-sidebar">
      <span><mat-icon color="accent">settings</mat-icon>Configuraciones</span>
    </mat-toolbar-row>
    <mat-nav-list>
      <a routerLink="/usuarios" mat-list-item class="my-text"><mat-icon color="primary">people</mat-icon>  Usuarios</a>
      <a mat-list-item class="my-text"><mat-icon color="primary">power_settings_new</mat-icon>  Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-fill-remaining-space"></span>
      <span>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item><mat-icon>info</mat-icon>  Perfil</button>
          <button mat-menu-item><mat-icon>power_settings_new</mat-icon>  Salir</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>person</mat-icon>  Usuario </button>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <br>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>