/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.table th, .table td {
    padding: 0.2rem;     
    /* border-top: 1px solid #dee2e6; */
}
.table{
    font-size: 12px;
}

.titulo{
    font-size: 20px;
}
.cabecera{
    background: #fff;
    padding: 15px 0px 0px 0px;
}
.opciones{
    float: right;
    margin: auto;
    text-align: right;
}

.example-full-width {
width: 100%;
}
.contadorCuerpo{
    background: #fff;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.contador{
    color: blue;
    font-size: 14px;
}