/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.table th, .table td {
    padding: 0.2rem;     
    /* border-top: 1px solid #dee2e6; */
}
.mat-sidenav-content{
    background-color:#eeeeee;
}
.table{
    font-size: 12px;
    background-color: #FFF;
}

.titulo{
    font-size: 20px;
}
.cabecera{
    padding: 15px 0px 0px 0px;
}
.opciones{
    float: right;
    margin: auto;
    text-align: right;
}

.example-full-width {
width: 100%;
}
.contadorCuerpo{
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.contador{
    color: blue;
    font-size: 14px;
}
.card{
    border: 0px;
    border-radius: 2px;
}
.card-body{
    text-align: center;
    padding: 5px;
}
.bg-white{
    background-color: #FFF !important;
}
.bg-violeta{
    background-color: #2b1a5d !important;
}